body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    margin-bottom: 150px;
}
.tbd{
    max-width: 700px;
    border: 1px solid rgb(155, 141, 141);
    border-collapse: collapse;
    table-layout: fixed;
}
.tbd td{
    border: 0.5px solid rgb(155, 141, 141);
    vertical-align: bottom;
    padding-left: 4px;
}
.tb-number{
    width: 130px;
}
.td-last_name{
    width: 200px;
}
.td-adres{
    width: 200px;
}
.number{
    width: 200px;
}
.one-str{
    background-color: rgb(79, 79, 190);
    color: #fff;
}
.one-str1{
    background-color: rgba(205, 202, 202, 0.481);
}
.one-str2{
    background-color: rgba(205, 202, 202, 0.481);
}
.one-str3{
    background-color: rgba(205, 202, 202, 0.481);
}
.tbd-bisness{
    max-width: 700px;
    border: 8px solid rgb(240, 146, 88);
    border-spacing: 0;
    table-layout: fixed;
    border-radius: 30px;
}
.tbd-bisness td,
th{
    border-bottom: 8px solid rgb(240, 146, 88);
    padding: 10px;
}
.company1{
    text-align: left;
}
.td-compani{
    width: 250px;
}
.td-money{
    width: 80px;
}
.td-premia{
    width: 80px;
}
.footer td{
    border: 0px solid transparent;
}
.appendix{
    max-width: 700px;   
    table-layout: fixed;
    border-collapse: collapse;
    background-color: rgba(56, 56, 122, 0.929);
}
.appendix td{
    padding-left: 10px;
}
.appendix th,
td{
    border-bottom: 1px solid rgb(88, 240, 144);
}
.application{
    color: rgba(243, 172, 19, 0.905);
}
.companion{
    text-align: left;
}
.common{
    width: 100px;
}
.price{
    width: 60px;
    border: 1px solid rgb(88, 240, 144);
}
.half{
    width: 60px;
    border: 1px solid rgb(88, 240, 144);
}
.all{
    width: 60px;
    border: 1px solid rgb(88, 240, 144);
}
.total{
    width: 50px;
}